    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="robots" content="index,follow"> 
    <meta name="revisit" content="1"> 
    <meta name="revisit-after" content="7 days"> 
    <meta name="imagetoolbar" content="no"> 
    <meta name="local_all" content="ru_RU"> 
    <meta name="language" content="ru">       
    <meta name="google-site-verification" content="OhA4T77mXf_2Fo_M2_gjyzbLgy715wTmnN1hUV01sjg" />
    <meta name="cmsmagazine" content="873b6525651ddbae70a7fa679176ff0d" />
    <meta name="yandex-verification" content="57a037b8a570eb5f" />
    <meta name="verify-reformal" content="1175b6cce68a536fbd862f2e" />