<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{f:uri.resource(path: '3/css/bootstrap.min.css', package: 'TYPO3.Twitter.Bootstrap')}" media="all" />
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap-theme.min.css', package: 'T3Studio.Typo3RuNet')}" media="all" />
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/jquery.smartmenus.bootstrap.css', package: 'T3Studio.Typo3RuNet')}" media="all" />
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/jquery.lightbox.min.css', package: 'T3Studio.Typo3RuNet')}" media="all" />
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/magnific-popup.css', package: 'T3Studio.Typo3RuNet')}" media="all" /> 
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/validationEngine.jquery.css', package: 'T3Studio.Typo3RuNet')}" media="all" />
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/jquery.wm-gridfolio-1.0.css', package: 'T3Studio.Typo3RuNet')}" media="all" />  
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bootstrap-datepicker3.min.css', package: 'T3Studio.Typo3RuNet')}" media="all" />
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/fonts/fonts.css', package: 'T3Studio.Typo3RuNet')}" media="all" />
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/style.min.css', package: 'T3Studio.Typo3RuNet')}" media="all" />
<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/media_queries.min.css', package: 'T3Studio.Typo3RuNet')}" media="all" />
<link href="{f:uri.resource(path: 'resource://Lelesys.Plugin.IndexedSearch/Public/Stylesheets/IndexedSearch.css')}" rel="stylesheet" media="screen">

<script src="http://vk.com/js/api/openapi.js?136" type="text/javascript"></script> 
